# Data Clean on IMDB Title Aka Data Set

In [1]:
# import libraries
import pandas as pd
import pickle

In [2]:
# load the title also known as dataset
tAka = pd.read_csv('./data/title.akas.tsv', quoting=3, sep='\t',low_memory=False)

# display row & column counts
tAka.shape

(3632654, 8)

In [3]:
# view data frame
tAka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
1,tt0000001,2,Карменсита,RU,\N,\N,\N,0
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
3,tt0000001,4,Carmencita,\N,\N,original,\N,1
4,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1

In [4]:
# drop all regions except US
tAkaSub = tAka[tAka.region == 'US']

# display row & column counts
tAkaSub.shape

(939032, 8)

In [5]:
# create a copy of the tAkaSub data frame
tAkaSubUS = tAkaSub.copy()

# display row & column counts
tAkaSubUS.shape

(939032, 8)

In [6]:
# view data frame
tAkaSubUS.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
7,tt0000002,4,The Clown and His Dogs,US,\N,\N,literal English title,0
19,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
22,tt0000005,4,Blacksmith Scene #1,US,\N,alternative,\N,0
23,tt0000005,5,Blacksmithing,US,\N,\N,informal alternative title,0

In [7]:
# drop all columns except titleId
tAkaSubUS.drop(['ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle'], axis=1, inplace=True)

In [8]:
# view data frame
tAkaSubUS.head()

      titleId
2   tt0000001
7   tt0000002
19  tt0000005
22  tt0000005
23  tt0000005

In [9]:
# drop duplicate titleId's
tAkaSubUS.drop_duplicates(inplace=True)

tAkaSubUS.shape

(881982, 1)

In [10]:
# save cleaned data set to a pickle file
tAkaSubUS.to_pickle('v1_tAkaCleaned.pkl')