In [21]:
import pandas as pd

#Load Datasets

## load the title basics dataset
title_akas_df = pd.read_csv('./data/title.akas.tsv', index_col=None, na_values=['NA'],sep='\t',low_memory=False)


## load the title basics dataset
title_basics_df = pd.read_csv('./data/title.basics.tsv', index_col=None, na_values=['NA'],
sep='\t',low_memory=False)

In [ ]:
# Filter data for region US
title_akas_us=title_akas_df[title_akas_df.region=='US']

In [22]:
# Fiter only movies
title_basics_df_movie=title_basics_df.groupby('titleType').get_group('movie').copy()
#Filter only non adult movies
title_basics_df_movie= title_basics_df_movie[title_basics_df_movie.isAdult=='0'].copy()

In [24]:
#  rename columns to merge
title_akas_us.rename(columns={"titleId": "tconst"},inplace=True)
display(title_akas_us.head(5))
display(title_basics_df_movie.head(5))

C:\Users\guptav4\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
7,tt0000002,4,The Clown and His Dogs,US,\N,\N,literal English title,0
19,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
22,tt0000005,4,Blacksmith Scene #1,US,\N,alternative,\N,0
23,tt0000005,5,Blacksmithing,US,\N,\N,informal alternative title,0

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [51]:
#result dataset for non adult movies only for region US
df_us_movies_non_adult_result = pd.merge(title_akas_us,
                 title_basics_df_movie,
                 on='tconst', 
                 how='inner')

In [52]:
# This is in WIP, we may have to remove duplicates by primary title
########################################################################
len(df_us_movies_non_adult_result)

171832

In [53]:
df_us_movies_non_adult_result.head(20)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,3,Miss Jerry,US,\N,\N,\N,0,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
1,tt0000147,1,The Corbett-Fitzsimmons Fight,US,\N,\N,\N,0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
2,tt0000630,4,Hamlet,US,\N,\N,\N,0,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
3,tt0000679,1,The Fairylogue and Radio-Plays,US,\N,\N,\N,0,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
4,tt0000886,2,"Hamlet, Prince of Denmark",US,\N,\N,\N,0,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama
5,tt0000891,2,The Witch and the Bicyclist,US,\N,\N,\N,0,movie,Cycle Rider and the Witch,Heksen og cyklisten,0,1909,\N,\N,\N
6,tt0000891,5,Cycle Rider and the Witch,US,\N,\N,\N,0,movie,Cycle Rider and the Witch,Heksen og cyklisten,0,1909,\N,\N,\N
7,tt0001101,2,Abraham Lincoln's Clemency,US,\N,\N,\N,0,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910,\N,\N,\N
8,tt0001159,1,The Connecticut Yankee,US,\N,\N,\N,0,movie,The Connecticut Yankee,The Connecticut Yankee,0,1910,\N,\N,\N
9,tt0001186,3,Dorothy and the Scarecrow in Oz,US,\N,\N,\N,0,movie,Dorothy and the Scarecrow in Oz,Dorothy and the Scarecrow in Oz,0,1910,\N,\N,\N
10,tt0001230,1,Gentleman Joe,US,\N,\N,\N,0,movie,Gentleman Joe,Gentleman Joe,0,1910,\N,\N,\N
11,tt0001285,1,Forty Years in the Land of the Midian,US,\N,\N,second part title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
12,tt0001285,3,The Victory of Israel,US,\N,\N,fourth season title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
13,tt0001285,5,The Life of Moses,US,\N,\N,\N,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
14,tt0001285,6,The Plagues of Egypt,US,\N,\N,third part title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
15,tt0001285,7,The Promised Land,US,\N,\N,fifth season title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
16,tt0001422,1,Trail to the West,US,\N,\N,\N,0,movie,Trail to the West,Trail to the West,0,1910,\N,\N,\N
17,tt0001482,1,As in a Looking Glass,US,\N,\N,\N,0,movie,As in a Looking Glass,As in a Looking Glass,0,1911,\N,\N,Drama
18,tt0001498,3,The Battle of Trafalgar,US,\N,\N,\N,0,movie,The Battle of Trafalgar,The Battle of Trafalgar,0,1911,\N,51,War
19,tt0001515,1,The Brand,US,\N,\N,\N,0,movie,The Brand,The Brand,0,1911,\N,\N,\N

In [54]:
df_us_movies_non_adult_result.columns

Index(['tconst', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes',
       'genres'],
      dtype='object')

In [84]:
# Get dataset cleaned up for columns we may want to use
df_us_movies_non_adult_result=df_us_movies_non_adult_result[['tconst','primaryTitle','startYear','runtimeMinutes','genres']].copy()

In [85]:
len(df_us_movies_non_adult_result)

171832

In [57]:
df_us_movies_non_adult_result.head(25)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
2,tt0000630,Hamlet,1908,\N,Drama
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama
5,tt0000891,Cycle Rider and the Witch,1909,\N,\N
6,tt0000891,Cycle Rider and the Witch,1909,\N,\N
7,tt0001101,Abraham Lincoln's Clemency,1910,\N,\N
8,tt0001159,The Connecticut Yankee,1910,\N,\N
9,tt0001186,Dorothy and the Scarecrow in Oz,1910,\N,\N
10,tt0001230,Gentleman Joe,1910,\N,\N
11,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
12,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
13,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
14,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
15,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
16,tt0001422,Trail to the West,1910,\N,\N
17,tt0001482,As in a Looking Glass,1911,\N,Drama
18,tt0001498,The Battle of Trafalgar,1911,51,War
19,tt0001515,The Brand,1911,\N,\N
20,tt0001530,The Bushranger's Bride,1911,\N,Drama
21,tt0001569,The Daddy's Dream,1911,\N,\N
22,tt0001586,A Dog's Tale,1911,\N,\N
23,tt0001628,The Four Poster Pest,1911,\N,\N
24,tt0001692,The Great Moment,1911,\N,Drama

In [86]:
df_us_movies_non_adult_result.head(20)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
2,tt0000630,Hamlet,1908,\N,Drama
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama
5,tt0000891,Cycle Rider and the Witch,1909,\N,\N
6,tt0000891,Cycle Rider and the Witch,1909,\N,\N
7,tt0001101,Abraham Lincoln's Clemency,1910,\N,\N
8,tt0001159,The Connecticut Yankee,1910,\N,\N
9,tt0001186,Dorothy and the Scarecrow in Oz,1910,\N,\N
10,tt0001230,Gentleman Joe,1910,\N,\N
11,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
12,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
13,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
14,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
15,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
16,tt0001422,Trail to the West,1910,\N,\N
17,tt0001482,As in a Looking Glass,1911,\N,Drama
18,tt0001498,The Battle of Trafalgar,1911,51,War
19,tt0001515,The Brand,1911,\N,\N

In [87]:
# remove duplicates
df_us_movies_non_adult_result2=df_us_movies_non_adult_result.drop_duplicates()

In [88]:
#number after duplicates removed
len(df_us_movies_non_adult_result2)

149352

In [89]:
df_us_movies_non_adult_result2

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
2,tt0000630,Hamlet,1908,\N,Drama
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama
5,tt0000891,Cycle Rider and the Witch,1909,\N,\N
7,tt0001101,Abraham Lincoln's Clemency,1910,\N,\N
8,tt0001159,The Connecticut Yankee,1910,\N,\N
9,tt0001186,Dorothy and the Scarecrow in Oz,1910,\N,\N
10,tt0001230,Gentleman Joe,1910,\N,\N
11,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
16,tt0001422,Trail to the West,1910,\N,\N
17,tt0001482,As in a Looking Glass,1911,\N,Drama
18,tt0001498,The Battle of Trafalgar,1911,51,War
19,tt0001515,The Brand,1911,\N,\N
20,tt0001530,The Bushranger's Bride,1911,\N,Drama
21,tt0001569,The Daddy's Dream,1911,\N,\N
22,tt0001586,A Dog's Tale,1911,\N,\N
23,tt0001628,The Four Poster Pest,1911,\N,\N
24,tt0001692,The Great Moment,1911,\N,Drama
25,tt0001706,The Infant at Snakeville,1911,\N,\N
26,tt0001731,The Convict Hero,1911,\N,Drama
27,tt0001892,Den sorte drøm,1911,53,Drama
28,tt0001911,Nell Gwynne,1911,50,"Biography,Drama,History"
29,tt0001914,The Devil's Assistant,1913,\N,Drama
31,tt0001964,The Traitress,1911,48,Drama
32,tt0001998,The Adventures of Lieutenant Petrosino,1912,\N,Drama
33,tt0002001,The Alaska-Siberian Expedition,1912,\N,Documentary
34,tt0002031,As You Like It,1912,\N,\N
35,tt0002039,Atop of the World in Motion,1912,\N,Documentary
...,...,...,...,...,...
171795,tt8532400,Man Aive,\N,\N,"Action,Drama"
171796,tt8537064,Disco Fever 1977,\N,\N,"Drama,Musical"
171797,tt8537490,L'amore è cieco [Love is Blind],2018,\N,\N
171798,tt8550840,Untitled Progressive School Documentary,\N,\N,Documentary
171799,tt8571958,Clown Footage,2018,70,Horror
171800,tt8591654,Untitled Ted Bundy Had a Son Prequel,\N,\N,"Horror,Mystery,Thriller"
171801,tt8592222,Teen Drone Stalker,2018,\N,Thriller
171802,tt8595626,Le Gardien du Non-Retour,2016,\N,Documentary
171803,tt8598334,West End Girls,\N,80,"Comedy,Drama"
171804,tt8598532,Killer Single Dad,2018,\N,Thriller
171805,tt8600892,The Friend Zone,\N,\N,"Comedy,Drama,Romance"
171806,tt8610036,Alone,\N,90,Thriller
171807,tt8614536,Farmlands,2018,73,"Crime,Documentary"
171808,tt8618118,Plagi Breslau,2018,\N,"Action,Crime,Thriller"
171809,tt8618244,Silverstein: Decade Live at The El Mocambo,2010,79,Music
171810,tt8619974,The Way Home 2,2016,72,Horror
171813,tt8619980,The Way Home,2015,67,Horror
171814,tt8656640,Rub & Tug,\N,\N,Drama
171815,tt8657154,The Story of Darksiders,2018,99,Documentary
171816,tt8682654,I saw a little bird flying over a psychiatric ...,2018,239,Drama
171818,tt8685168,Story at Dawn,\N,\N,Drama
171819,tt8691450,Sacred Play,2017,\N,Documentary
171820,tt8701708,Star Wars Episode I: Fall of the Jedi,\N,\N,Sci-Fi
171821,tt8705266,Mischief Night,\N,\N,Horror
171822,tt8726106,Sinfonia Caipira,2018,65,Documentary
171823,tt8728782,The Mirror and the Scaffold,2013,71,Drama
171824,tt8729292,Jesa-ui gongpo,1984,92,"Horror,Mystery,Thriller"
171828,tt8741974,West of Littleton,\N,\N,Drama
171830,tt8749144,Flame: Maximum Carnage,2019,\N,"Action,Adventure,Comedy"
171831,tt8750848,Whoismisterputin,2015,100,"Biography,Documentary"

In [80]:
# Split genres in 3 columns
df_us_movies_non_adult_result2[['genres1','genres2','genres3']]=df_us_movies_non_adult_result2.genres.str.split(',',expand=True)

C:\Users\guptav4\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [90]:
df_us_movies_non_adult_result2.head()

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
2,tt0000630,Hamlet,1908,\N,Drama
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama

In [83]:
len(df_us_movies_non_adult_result2)

149352